@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first-font: "Poppins", sans-serif;
  --second-font: "Hind", sans-serif;
  --third-font: Helvetica, sans-serif;
  --first-color: #53c8ac;
  --second-color: #fff;
}

/* Navbar */
.nav_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: var(--first-color);
  padding-bottom: 20px;
}

.nav_logo a {
  text-decoration: none;
}

.nav_logo h2 {
  font-family: var(--first-font);
  font-size: 40px;
}

nav ul li a {
  text-decoration: none;
}

nav ul li {
  list-style-type: none;
  font-family: var(--third-font);
  padding-top: 20px;
  font-size: 20px;
}

.nav_list {
  display: flex;
}

.nav_list li a {
  padding: 20px;
  color: var(--second-color);
}

.nav_list button a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

.nav_list button {
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px;
  background-color: var(--first-color);
  border-color: transparent;
  box-shadow: 5px 5px 20px grey;
}
