@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first-font: "Poppins", sans-serif;
  --second-font: "Hind", sans-serif;
  --third-font: Helvetica, sans-serif;
  --first-color: #53c8ac;
  --second-color: #fff;
  --third-color: #808080;
  --background-color: #f3f6fb;
}

body {
  background: var(--background-color);
}

/* Navbar */
.nav_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  opacity: 1;
  padding-bottom: 20px;
  position: fixed;
}

.nav_logo a {
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke: 0.5px #53c8ac;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
}

.nav_logo h2 {
  font-family: var(--first-font);
  font-size: 40px;
  text-shadow: 2px 2px 10px #53c8ac;
}

nav ul li a {
  text-decoration: none;
}

nav ul li {
  list-style-type: none;
  font-family: var(--third-font);
  padding-top: 20px;
  font-size: 20px;
}

.nav_list {
  display: flex;
}

.nav_list li a {
  padding: 20px;
  color: var(--second-color);
}

.nav_list li a:hover {
  position: relative;
  top: -2px;
  color: var(--first-color);
  transition: 0.8s;
  text-shadow: 0px 10px 20px #53c8ac;
}

.nav_list button {
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px;
  background-color: var(--first-color);
  border: 1px solid #57e6c5;
  box-shadow: 5px 5px 20px grey;
  text-decoration: none;
  font-size: 20px;
  color: var(--second-color);
}

/* container-2 */
.home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  height: 460px;
  justify-content: center;
  align-items: center;
}
.home::before {
  content: "";
  background: url(./assets/img1.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.88;
}

.home h1 {
  font-size: 80px;
  text-align: center;
  font-family: var(--first-font);
  color: #ddd9d9c5;
  padding-top: 170px;
  text-shadow: 2px 2px 10px #4a4a4a;
}

.card_attach {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card img {
  width: 400px;
  height: 300px;
  border-radius: 20%;
  cursor: pointer;
  display: block;
}

.card img:hover {
  position: relative;
  top: -5px;
  width: 405px;
  height: 305px;
  transition: 0.3s ease-in-out;
  transform: scale();
}
