@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first-font: "Poppins", sans-serif;
  --second-font: "Hind", sans-serif;
  --third-font: Helvetica, sans-serif;
  --first-color: #53c8ac;
  --second-color: #fff;
  --third-color: #808080;
  --fourth-color: #353535;
  --background-color: #dadada;
}

body {
  background: var(--background-color);
}

/* Navbar */
.nav_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  opacity: 1;
  padding-bottom: 20px;
  position: fixed;
  z-index: 9999;
}

.nav_logo a {
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke: 0.5px #53c8ac;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px;
}

.nav_logo h2 {
  font-family: var(--first-font);
  font-size: 40px;
  text-shadow: 2px 2px 10px #53c8ac;
}

nav ul li a {
  text-decoration: none;
}

nav ul li {
  list-style-type: none;
  font-family: var(--third-font);
  padding-top: 20px;
  font-size: 20px;
  text-shadow: 0px 10px 20px #4a4a4a;
}

.nav_list {
  display: flex;
}

.nav_list li a {
  padding: 20px;
  color: var(--second-color);
}

.nav_list li a:hover {
  position: relative;
  top: -2px;
  color: var(--third-color);
  transition: 0.8s;
  text-shadow: 0px 10px 20px #353535;
}

.nav_menu button {
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: var(--first-color);
  border-color: transparent;
  box-shadow: 5px 5px 20px grey;
  text-decoration: none;
  font-size: 20px;
  color: var(--second-color);
  cursor: pointer;
}

/* container-2 */
.home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  height: 550px;
  justify-content: center;
  align-items: center;
}
.home::before {
  content: "";
  background: url(./assets/img1.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.88;
}

.home h1 {
  font-size: 80px;
  text-align: center;
  font-family: var(--first-font);
  color: var(--fourth-color);
  padding-top: 150px;
  text-shadow: 0px 10px 20px #4a4a4a;
}

.card_attach {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
}

.card img {
  width: 400px;
  height: 300px;
  border-radius: 20%;
  cursor: pointer;
  display: block;
  box-shadow: 0px 2px 10px #4a4a4a;
}

.card img:hover {
  position: relative;
  top: -5px;
  width: 405px;
  height: 305px;
  transition: 0.3s ease-in-out;
  transform: scale();
}

/* Container-3 */

.container-3 {
  margin-top: 200px;
  width: 100%;
}

.head_flop {
  text-align: center;
}

.head_flop h1 {
  font-family: var(--first-font);
  font-size: 70px;
  color: var(--fourth-color);
}

.head_flop .line {
  margin: auto;
  align-self: center;
  height: 3px;
  width: 500px;
  background: var(--first-color);
}

.head_flop p {
  font-family: var(--first-font);
  font-size: 20px;
  color: var(--third-color);
}

.flip_flop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 50px;
  padding-top: 30px;
}

.flip_card {
  width: 405px;
  height: 300px;
  perspective: 500px;
}

.content {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 4s;
  transform-style: preserve-3d;
  border-radius: 10%;
}

.flip_card:hover .content {
  transform: rotateY(180deg);
  transition: transform 1.5s;
}
.front img {
  border-radius: 10%;
  width: 405px;
  height: 300px;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 60px;
  border-radius: 10%;
  backface-visibility: hidden;
}

.back {
  /* background: var(--third-color); */
  color: var(--third-color);
  transform: rotateY(180deg);
}

.back .back_div {
  padding-top: 50px;
}

.back_div h1 {
  font-size: 40px;
  font-family: var(--first-font);
}

.back_div h4 {
  font-size: 20px;
  font-family: var(--third-font);
}

.back button {
  padding: 10px;
  border-radius: 20px;
  border-color: transparent;
  background-color: var(--first-color);
  font-size: 20px;
  color: var(--second-color);
  font-family: var(--first-font);
}

.container-3 .show_more {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-3 .show_more button {
  padding: 10px;
  border: transparent;
  border-radius: 10px;
  background-color: var(--first-color);
  box-shadow: 0px 5px 15px #57e6c5;
  color: var(--second-color);
  font-size: 20px;
  cursor: pointer;
}

/* container-4 */

.container-4 {
  margin-top: 150px;
  width: 100%;
}

.pure_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
}

.img_section .img_sec img {
  width: 500px;
  position: absolute;
  z-index: 8;
  /* opacity: 0.88; */
  filter: grayscale(40%);
}

.img_section .img_sec1 {
  width: 350px;
  height: 420px;
  background-color: var(--first-color);
  position: absolute;
  margin-top: 80px;
  margin-left: 70px;
  z-index: -1;
}

.img_section .img_sec2 img {
  z-index: 7;
  filter: grayscale(100%);
}

.details {
  padding-left: 40px;
  row-gap: 20px;
}

.details h1 {
  font-family: var(--first-font);
  font-size: 70px;
  color: var(--fourth-color);
}

.details p {
  text-align: justify;
  font-family: var(--first-font);
  font-size: 18px;
  letter-spacing: 0.5px;
}

/* container-5 */

.container-5 {
  margin-top: 100px;
  width: 100%;
  /* background-color: #cccccc; */
}

.container-5 .section_head {
  padding-top: 80px;
  padding-bottom: 40px;
}

.section_head h1 {
  font-size: 70px;
  font-family: var(--first-font);
  color: var(--fourth-color);
  text-align: center;
}

.section_head .line {
  margin: auto;
  align-self: center;
  height: 3px;
  width: 480px;
  background: var(--first-color);
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}

.item_img img {
  height: 400px;
  border-radius: 20px;
  box-shadow: 0px 2px 10px #353535;
}

.item_details {
  padding-top: 50px;
  padding-left: 50px;
}

.item_details h4 {
  font-size: 30px;
  font-family: var(--third-font);
  font-weight: 200;
  color: var(--third-color);
}

.item_details h1 {
  font-size: 55px;
  font-family: var(--first-font);
  font-weight: 800;
  color: var(--fourth-color);
}

.item_details p {
  font-size: 18px;
  font-family: var(--second-font);
  font-weight: 400;
  color: var(--fourth-color);
}

/* .container-6 */

.container-6 {
  width: 100%;
  margin-top: 120px;
}

.small_head {
  text-align: center;
}

.small_head .line {
  margin: auto;
  align-self: center;
  height: 3px;
  width: 480px;
  background: var(--first-color);
}

.small_head h1 {
  font-size: 70px;
  font-family: var(--first-font);
  color: var(--fourth-color);
}

.small_head p {
  font-size: 18px;
  font-family: var(--first-font);
  color: var(--fourth-color);
}

.small_sec {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 70px;
  margin-bottom: 20px;
}

.small_sec .box_png {
  background: linear-gradient(to bottom, #71e9cd 0%, #70d9c1 50%, #6fcab5 100%);
  width: 250px;
  padding-left: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px #353535;
}

.small_sec .box_png img {
  width: 200px;
  filter: grayscale(100%);
  cursor: pointer;
  padding-right: 10px;
  /* -webkit-box-reflect: below; */
}

.show_more button a {
  color: white;
  text-decoration: none;
}

.small_sec .box_png img:hover {
  position: relative;
  top: -5px;
  filter: none;
}

.box_png h1 {
  font-size: 30px;
  font-family: var(--first-font);
  color: var(--second-color);
  text-align: center;
  padding-right: 25px;
}

.box_png button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: transparent;
  color: var(--second-color);
  font-family: var(--second-font);
  margin-left: 40px;
  cursor: pointer;
}

.box_png button:hover {
  color: var(--first-color);
  background-color: var(--second-color);
  transition: 0.6s;
}

/* container-7 */

.container-7 {
  width: 100%;
  margin-top: 120px;
  background: #b1b1b1;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.parag {
  padding-right: 100px;
}

.parag h1 {
  font-family: var(--first-font);
  font-size: 70px;
  color: var(--fourth-color);
}

.parag p {
  font-family: var(--first-font);
  font-size: 17px;
  color: var(--fourth-color);
}

.footer_points ul li {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  font-family: var(--first-font);
  cursor: pointer;
  color: var(--fourth-color);
  line-height: 50px;
  padding-right: 100px;
}

.copyright {
  background-color: var(--third-color);
  padding-top: 5px;
  padding-bottom: 5px;
  color: #d7d5d5;
  text-align: center;
  font-family: var(--second-font);
}

.social_media {
  padding-top: 50px;
}

.social_media i {
  text-decoration: none;
  color: #62dec1;
  font-size: 40px;
  cursor: pointer;
  padding: 5px;
}

/* gallery */
.gallery_heading {
  margin-top: 10px;
}

.gallery_heading h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-family: var(--first-font);
  color: var(--fourth-color);
}

.gallery_heading .line {
  margin: auto;
  align-self: center;
  height: 3px;
  width: 480px;
  background: var(--first-color);
}

.img_container {
  width: 100%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img_container .box img {
  width: 400px;
  height: 300px;
  cursor: pointer;
  border: 5px solid #fff;
}

@media screen and (max-width: 1200px) {
  /* container */
  .nav_logo h2 {
    font-size: 80px;
  }

  .nav_list {
    display: none;
  }

  .nav_menu button {
    font-size: 40px;
  }

  /* container-2 */
  .home {
    width: 800px;
    height: 380px;
    padding: 300px 100px;
  }
  .home::before {
    width: 800px;
    height: 800px;
  }

  .home h1 {
    font-size: 100px;
  }

  /* section */
  .card_attach {
    display: none;
  }

  /* .container-3 */
  .container-3 {
    width: fit-content;
    margin-top: 400px;
    margin-left: 55px;
  }

  .head_flop h1 {
    font-size: 100px;
  }

  .head_flop p {
    font-size: 40px;
  }

  .flip_flop .flip_card {
    width: 700px;
    height: 500px;
  }

  .front img {
    width: 700px;
    height: 500px;
  }

  .back_div h4 {
    font-size: 60px;
  }

  .back_div h1 {
    font-size: 80px;
  }

  .back_div button {
    font-size: 50px;
    margin-top: 100px;
  }
  .container-3 .show_more button {
    font-size: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  /* .container-4 */
  .container-4 {
    margin-top: 400px;
  }

  .pure_section {
    flex-wrap: wrap;
    width: fit-content;
  }

  .img_section .img_sec img {
    width: 700px;
  }

  .img_section .img_sec1 {
    width: 550px;
    height: 550px;
  }

  .img_section .img_sec2 img {
    width: 550px;
    height: 630px;
  }

  .details {
    text-align: center;
    padding-left: 120px;
    padding-top: 100px;
  }

  .details h1 {
    font-size: 100px;
  }

  .details p {
    font-size: 30px;
  }

  /* container-5 */

  .container-5 {
    display: none;
  }

  /* container-6 */
  .container-6 {
    width: 800px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .small_head h1 {
    font-size: 100px;
  }

  .small_head p {
    font-size: 40px;
  }

  .small_sec {
    flex-wrap: wrap;
  }

  .small_sec .box_png {
    margin: 30px;
    width: 800px;
  }

  .small_sec .box_png img {
    width: 400px;
    position: relative;
    left: 100px;
  }

  .small_sec .box_png h1 {
    font-size: 100px;
  }

  .small_sec .box_png button {
    font-size: 50px;
    position: relative;
    left: 120px;
    margin-bottom: 20px;
  }

  /* container-7 */
  .container-7 {
    margin-top: 100px;
    width: 800px;
  }

  .footer_section {
    flex-wrap: wrap;
  }

  .footer_section .parag h1 {
    font-size: 80px;
  }

  .footer_section .parag p {
    font-size: 40px;
  }

  .social_media i {
    font-size: 80px;
  }

  .footer_points ul li {
    font-size: 30px;
  }

  .copyright {
    font-size: 40px;
  }

  /* gallery */
  .gallery_heading {
    width: 800px;
  }

  .gallery_heading h1 {
    font-size: 100px;
  }

  .img_container {
    width: 800px;
    margin: 10px;
  }

  .img_container .box img {
    width: 750px;
    height: 800px;
  }
}
